.style-4 input {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
.style-4 input:focus,
.style-4 input.focus {
  border-bottom: solid 2px #969696;
}

input {
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  background-color: transparent;
}

input.number-field {
  width: 100px;
}

input:focus {
  outline: none;
}

.float-bottom {
  position: absolute; 
  bottom: 15px;
  left: 35%;
  text-align: center;
}

.list-group { 
  text-align: left;
}

div .list-subitem {
  background:rgba(0,0,0,0.5);
}

div .list-subitem:hover {
  background:rgba(66,220,163,0.5);
}

div .list-header {
  background:rgba(0,0,0,0.8);
}

.icon-container {
  width:50%; float:right;
  text-align:center;
}

div.icon-container i {
  cursor: pointer;
}

div.icon-container .channelactive {
  color:rgba(66,220,163,1);
}

div.icon-container .channelinactive {
  color:rgba(255,0,0,1);
}





div .input-container{
  width: 30%;
}

div.dark {
  background:rgba(0,0,0,0.9);
}

.btn-red {
  float: left;
  border: 1px solid #F00;
  color: #F00;
  background-color: transparent;
}

.btn-red:hover,
.btn-red:focus {
  border: 1px solid #F00;
  outline: 0;
  color: #000;
  background-color: #F00;
}

td {
  padding: 15px;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.2s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #42DCA3; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 29px; margin: 0.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.2s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}