<!-- Intro Header -->
<div ng-app='channels' ng-controller='channelsPageCtrl'>

    <header class="intro">
        <link href="/public/modules/channels/css/channels.client.styles.css" rel="stylesheet">
        <div class="intro-body">
            <div class="container">

                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group style-4">
                            <input type="text" id="search" placeholder="Search Channels ... "/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                    
                        <div class="list-group" id="channelstable" bind-down="/channels/me | groupChannels">

                            <div ng-repeat="(hostname, channelGroup) in grouppedChannels" id="channelGroup_{{ $index }}">

                                <div ng-include="'channels/views/channelGroup.client.view.html'"></div>

                            </div>
                    </div>
                </div>
            </div>

        </div>
    </header>
    <section class="container content-section text-center">
        <div class="float-bottom">
            <div class="col-md-2 col-md-offset-5">
                <a class="btn btn-default btn-lg" ng-click="saveNewChannel()">New Channel</a>
            </div>
        </div>
    </section>
</div>