<div class="list-header list-group-item row" ng-click="isCollapsed = !isCollapsed">
    <div class="col-xs-6"> {{ hostname }} </div>
    <div class="col-xs-3"></div>
    <div class="col-xs-3"> {{ channelGroup.length }} channels</div>
</div>
<div ng-hide="isCollapsed">

	<div ng-repeat="channel in channelGroup" class="list-group-item list-subitem row">
		<div class="col-xs-4">{{ channel.channel_name }}</div>
		<div class="col-xs-6">{{ channel.settings.allowed_users.username }}</div>
		<div class="col-xs-2">
			<div class="icon-container">
				<i class="fa fa-cog" ng-click="toggleModal(channel)"></i>
			</div>
			<div class="icon-container">
				<i class="" ng-class="{'fa fa-lock channelactive': channel.active, 'fa fa-unlock channelinactive' : !channel.active}" ng-click="channel.active = !channel.active"></i>
			</div>
		</div>
	</div>
</div>